<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="delay" value="5000" />
    <add key="apiKey" value="YOUR_TOGGL_API_KEY" />
    <add key="WorkspaceID" value="YOUR_WORKSPACE_ID" />
    <add key="NeutralWindowRegex" value="(Task Switching|Windows PowerShell|Administrator: Windows PowerShell|Administration - Google Chrome|AutoTogglConsole.exe)" />
    <add key="PROJECT_ID" value="WINDOW_TITLE_KEYWORD,WINDOW_TITLE_KEYWORD,... "/>
    <!-- Add as many projects as you like using the above example -->
  </appSettings>
</configuration>